#cityList {
    width: 30%;
    float: left;
}

#headline1 {
    font-size: 20px;
}

#displayCityName {
    float: left;
    margin: 0 10px 0 0;
}

.conditions {
    width: 60%;
}

.forecast {
    width: 60%;
    margin-top: 20px;
}


/* .topContainer {} */


/* #displayDate {
    margin-left: 20px;
} */