#background {
    background-image: url("./assets/images/background.jpg");
    background-size: cover;
}

#cityList {
    width: 30%;
    float: left;
}

#headline1 {
    font-size: 20px;
}

#displayCityName {
    float: left;
    margin: 0 10px 0 0;
}

.conditions {
    width: 60%;
}

.headCont {
    text-align: center;
}

#forecast {
    width: 60%;
    margin-top: 20px;
    float: right;
    margin-right: 10%;
}

.deleteButton {
    float: right;
}

.fiveDayCard {
    padding: 10px;
}

.fiveDayImage {
    width: 70px;
}

#uvIndex {
    display: inline-block;
}

.fiveDayCard {
    color: white;
    margin: 5px;
}

#emptyDiv {
    display: inline-block;
}

.mainIcon {
    display: inline-block;
    margin-left: 50px;
    width: 100px;
}